@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to Invitory Management System</p>
</div>
<div class="text-center">
    <h1 class="display-4">Develop By</h1>
    <p>DarkSide here <a href="https://github.com/darkside779">My GitHub</a></p>
</div>